@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	width: 800px;
	margin: 0 auto;
}

header {
	border: 5px solid black;
}

.firstview {
	background: lightblue;
	height: 500px;
}

.news {
	margin: -48px 48px 96px;
	padding: 48px;
	background: white;
	border: 2px solid orange;
}

.news ul {
	margin-left: 48px;
}

.article-list {
	padding-top: 48px;
	border: 2px solid black;
}

.article-list h2 {
	text-align: center;
}

.article-list article {
	margin: 48px;
	padding: 48px;
	height: 300px;
}

.article1 {
	background: lightyellow;
}

.article1 a {
	background: yellow;
}

.article2 {
	background: lightgreen;
}

footer {
	background: orange;
}

footer .footer-main {
	height: 500px;
	margin-top: 96px;
}

footer .footer-copyright {
	text-align: center;
}
